<!DOCTYPE html>
<html>
<head>
    <title>Lista de Bebedores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    <div class="text-center">
    <h1>Lista de Bebedores</h1>
    <p>Hay <span th:text="${darNumeroDeBebedoresQueGustanDeBebidasConMayorGradoAlcohol}"></span> bebedores que gustan de bebidas con el mayor grado de alcohol</p>
    <p>Hay <span th:text="${darNumeroDeBebedoresQueGustanDeBebidasConMenorGradoAlcohol}"></span> bebedores que gustan de bebidas con el menor grado de alcohol</p>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Presupuesto</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <th:block th:each="bebedor : ${bebedores}">
            <tr>
                <td th:text="${bebedor.id}"></td>
                <td th:text="${bebedor.nombre}"></td>
                <td th:text="${bebedor.ciudad}"></td>
                <td th:text="${bebedor.presupuesto}"></td>
                <td>
                    <a th:href="@{bebedores/{id}/edit(id=${bebedor.id})}">Editar</a>
                    <a th:href="@{bebedores/{id}/delete(id=${bebedor.id})}" onclick="return confirm('¿Estás seguro de borrar este bebedor?')">Borrar</a>
                </td>
            </tr>
        </th:block>
    </table>
    <div class="text-center">
        <a th:href="@{borrar-bebedores}" class="btn btn-primary" >Buscar bebedores por ciudad y presupuesto</a>
        <a th:href="@{bebedores/new}" class="btn btn-primary">Añadir Bebedor</a>
        <a th:href="@{bebedores/frecuentan/new}" class="btn btn-primary">Añadir Visita a Bar</a>
        <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
    </div>
</body>
</html>
