<!DOCTYPE html>
<html>
<head>
    <title>Crear Bebida</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    <h1>Crear Nueva Bebida</h1>
    <form action="/parranderos/bebidas/new/save" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="grado_alcohol">Grado de Alcohol:</label>
        <input type="text" id="grado_alcohol" name="grado_alcohol" required><br>

        <label for="tipo">Tipo:</label>
        <select id="tipo" name="tipo" required>
            <th:block th:each="tipo : ${tipos}">
                <option th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
            </th:block>
        </select><br>

        <input type="submit" value="Guardar">
        <button onclick="window.history.back()">Cancelar</button>
    </form>
</body>
</html>