<!DOCTYPE html>
<html>
<head>
    <title>Crear Frecuentan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    <h1>Crear Nueva Visita Frecuente</h1>
    <form action="/parranderos/frecuentan/new/save" method="post">

        <label for="id_bebedor">Bebedor:</label>
        <select id="id_bebedor" name="id_bebedor" required>
            <th:block th:each="bebedor : ${bebedores}">
                <option th:value="${bebedor.id}" th:text="${bebedor.nombre}"></option>
            </th:block>
        </select><br>

        <label for="id_bar">Bar:</label>
        <select id="id_bar" name="id_bar" required>
            <th:block th:each="bar : ${bares}">
                <option th:value="${bar.id}" th:text="${bar.nombre}"></option>
            </th:block>
        </select><br>

        <label for="fecha_visita">Fecha de Visita:</label>
        <input type="date" id="fecha_visita" name="fecha_visita" required><br>

        <label for="horario">Horario:</label>
        <select id="horario" name="horario" required>
            <option value="diurno">Diurno</option>
            <option value="nocturno">Nocturno</option>
            <option value="todos">Todos</option>
        </select><br>

        <input type="submit" value="Guardar">
        <button onclick="window.history.back()">Cancelar</button>
    </form>
</body>
</html>